<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>
<body>
    <div class="container">
        <div class="container__form">
            <h1 class="container__form-h1">Log in</h1>
            
            
            <!-- The form action would normally point to your backend service -->
            <form action="/sessions" class="container__form" method="POST">
                <div class="container__form-group">
                    <label for="email">Email</label>
                    <input  type="email" id="email" name="email" placeholder="john@example.com" required>
                    <div class="container__form-group-error--email">
                        <span class="container__form-group-error-span--email-span"name="error-email"> </span>
                    </div>
                </div>
                <div class="container__form-group">
                    <label  for="password">Password</label>
                    <input  type="password" id="password" name="password" placeholder="********" required>
                    <div class="container__form-group-error--password"> 
                    </div>
                    <span class="container__form-group-error--password-span" name="error-password"> 
                    </span>
                <button class="container__form-button" type="submit" class="submit-button">Login</button>
            </form>
            <div class="container__footer">
                <a class ="container__footer-link" href="<%= register_path %>">Don't have an account? Sign up</a>
            </div>
        </div>
    </div>
</body>
</html>