<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>
<body>
    <div class="container">
        <div class="container__form">
            <h1 class="container__form-h1">Create an account</h1>
            <p  class="container__form-p">Enter your details below to create your account</p>
            
            <!-- The form action would normally point to your backend service -->
            <form action="/users" accept-charset="UTF-8" class="container__form" method="POST">
                <input type="hidden" name="authenticity_token" value="..." autocomplete="off">
                <div class="container__form-group">
                    <label for="name">Full Name</label>
                    <input type="text" id="name" name="name" placeholder="John Doe" required>
                    <div class="container__form-group-error--name"> 
                        <span class="container__form-group-error--name-span" name="error-name"> </span>
                    </div>
                </div>
                
                <div class="container__form-group">
                    <label for="email">Email</label>
                    <input  type="email" id="email" name="email" placeholder="john@example.com" required>
                    <div class="container__form-group-error--email">
                        <span class="container__form-group-error-span--email-span"name="error-email"> </span>
                    </div>
                </div>
                <div class="container__form-group">
                    <label for="phone">Phone</label>
                    <select name="select" id="select" >
                    <option value="0424">0424</option>
                    <option value="0414" selected>0414</option>
                    <option value="0412" selected>0412</option>
                    <option value="0416">0416</option>
                    <option value="0426">0426</option>
                    </select>
                    <input  type="tel" id="phone" name="phone" placeholder="0414-XXXXXXX" required>
                    <div class="container__form-group-error--phone">
                        <span class="container__form-group-error-span--phone-span"name="error-phone"> </span>
                    </div>
                </div>
                <div class="container__form-group">
                    <label  for="password">Password</label>
                    <input  type="password" id="password" name="password" placeholder="********" required>
                    <div class="container__form-group-error--password"> 
                    </div>
                    <span class="container__form-group-error--password-span" name="error-password"> 
                    </span>
                </div>
                <div class="container__form-group">
                    <label  for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm-password" placeholder="********" required>
                    <div class="container__form-group-error--confirm-password">
                    <span class="container__form-group-error--confirmation-span" name="error-confirm-password"> 
                    </span>
                    
                </div>
                
                <button class="container__form-button" type="submit" class="submit-button">Register</button>
            </form>
            
            <div class="container__footer">
                <a class ="container__footer-link" href="">Already have an account? Sign in</a>
            </div>
        </div>
    </div>
</body>
</html>